<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Chat | socket.io</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    </head>
    <body>
        <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <h1>Simple chat app</h1>
        <label>Nickname: </label>
        <input id="user_name" autocomplete="off" value="unknown" /><br><br>
        <div class="messages-container">
            <label>Messages:</label>
            <ul id="messages"></ul>
        </div>
        <form id="form" action="">
            <input id="message" autocomplete="off" />
            <button>Send</button>
        </form>
        <script src="/static/js/index_js.js"></script>
    </body>
</html>